:root {
  --clr-primary: hsl(215, 51%, 70%);
  --clr-secondary: hsl(178, 100%, 50%);

  --clr-neutral-blue-900: hsl(217, 54%, 11%);
  --clr-neutral-blue-800: hsl(216, 50%, 16%);
  --clr-neutral-blue-700: hsl(215, 32%, 27%);
  --clr-neutral-white-100: hsl(0, 0%, 100%);

  --ff-primary: "Outfit", sans-serif;

  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/***
    The new CSS reset - version 1.8.3 (last updated 21.1.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

body,
html {
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-white {
  color: var(--clr-neutral-white-100);
}

.flex-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-neutral-blue-700);
}

body {
  padding: 1.5rem;
  background-color: var(--clr-neutral-blue-900);
  font-family: var(--ff-primary);
  color: var(--clr-primary);
}

.nft-card {
  padding: 1.5rem;
  background-color: var(--clr-neutral-blue-800);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 350px;
}

.nft-card__img {
  border-radius: 10px;
}

.nft-card__name {
  font-size: 1.38rem;
  font-weight: var(--fw-semi-bold);
  margin-top: 0.5rem;
}

.nft-card__desc {
  font-weight: var(--fw-thin);
  line-height: 1.6;
}

.nft-card__price,
.nft-card__date {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.nft-card__price {
  color: var(--clr-secondary);
}

.nft-card__creator-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nft-card__creator-info__avatar {
  width: 2rem;
  border: 1px solid var(--clr-neutral-white-100);
  border-radius: 50%;
}
